main{
    display: flex;
    margin-top: 50px;
}
section{
    margin-left: 10px;
}

.login{
    border: solid green 3px;
    height: 150px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    p{
        color: green;
        margin-top: 10px;
        margin-left: 10px;
    }
    input{
        background-color: white;
        margin-top: 10px;
        margin-left: 10px;
    }
    button{
        border: solid green 1px;
        color: green;
        margin-top: 10px;
        margin-left: 10px;
    }
}
